{% extends 'pos_system/base.html' %}

{% block title %}Add Item to Transaction{% endblock %}

{% block content %}
<h2>Add Item to Transaction {{ transaction.id }}</h2>

<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="serial_number">Enter Serial Number</label>
        <input type="text" class="form-control" id="serial_number" name="serial_number" required>
    </div>

    <input type="hidden" id="item_id" name="item">

    

    

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>


{% endblock %}
