<!-- pos_system/templates/pos_system/daily_sales_report.html -->
{% extends 'pos_system/base.html' %}

{% block title %}Daily Sales Report{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Daily Sales Report</h2>

    <form method="post" class="form-inline mb-3">
        {% csrf_token %}
        <div class="form-group mr-2">
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
        </div>
        <div class="mr-2"></div>
        <div class="form-group mr-2">
            {{ form.end_date.label_tag }}
            {{ form.end_date }}
        </div>
        <div class="mr-2"></div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Invoice Number</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                {% for tx in transactions_with_profit %}
                <tr>
                    <td>{{ tx.transaction.id }}</td>
                    <td>{{ tx.transaction.invoice_number }}</td>
                    <td>{{ tx.transaction.customer.name }}</td>
                    <td>{{ tx.transaction.transaction_date }}</td>
                    <td>Rs. {{ tx.transaction.total_amount }}</td>
                    <td>Rs. {{ tx.profit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Total Sales: Rs. {{ total_sales }}</h3>
    <h3>Total Profit: Rs. {{ total_profit }}</h3>

    {% if form.start_date.value and form.end_date.value %}
    <a href="{% url 'pos_system:print_daily_sales_report' form.start_date.value form.end_date.value %}" class="btn btn-primary">Print</a>

    {% else %}
        <span class="text-muted">Please select a date range to print.</span>
    {% endif %}

</div>


{% endblock %}
