{% extends "inventory/base.html" %}

{% block title %}Stock List{% endblock %}

{% block content %}
<h1 class="my-4">Stock List</h1>
<!-- Search form -->
<form method="get" class="form-inline mb-3">
    <input type="text" name="q" class="form-control mr-2" placeholder="Search by Name" value="{{ query }}">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ stock.item.name }}</td>
            <td>{{ stock.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
